@{
    ViewData["Title"] = "Formulario";
}

@model Formulario
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" class="form-control" required/>
        </div>
        <div class="form-group">
            <label asp-for="Modelo">Modelo</label>
            <input asp-for="Modelo" class="form-control" required/>
        </div>
        <div>
            <label asp-for="Ano">Ano do Veiculo</label>
            <input asp-for="Ano" required/>
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>