@model Formulario
@{
    ViewData["Title"] = "Cadastro";
}

<h1 class="row justify-content-md-center">Recall BMW - Brasil</h1>
<p class="row justify-content-md-center">Venha Sentir Prazer de Dirigir.</p><br><br>
<partial name="Formulario" for="@Model Formulario"/>