@{
    ViewData["Title"] = "Home Page";
}

<style>
body {
background-image : url( "https://www.bmw.com.br/content/dam/bmw/common/all-models/x-series/series-overview/bmw-x-series-overview-page-model-carousel-12.jpg.asset.1618384426673.jpg");
background-repeat: no-repeat;
background-position: center;
}
</style>


<div class="text-center">
    <h1 class="display-4">Welcome to BMW Brasil</h1>
    <p>Bem-vindo ao seu prazer em dirigir.</p>
</div>


