@{
    ViewData["Title"] = "Modelos";
}
<h1>@ViewData["Title"]</h1>

<div class="col-md-12">
  <h3>Conheça nossos modelos topo de linha</h3>
  @Html.ActionLink("Acessar","Contact","Home","https://www.bmw.com.br/pt/all-models.html",new { @class = "btn btn-primary"})
</div>
